* { 
    margin:0; padding:0; border: none; 
    -webkit-font-smoothing:antialiased;
    -webkit-user-select:none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body { width:100%; height:100%; }
body { overflow-x:hidden; font-family:'helvetica Neue', helvetica, arial; }
a { text-decoration: none; color:#000;}
::selection{
    background-color: transparent;
}

button:active, button:focus, a:focus, input:focus { border:none; border-color:transparent; /*background-image: none!important;*/ outline: 0!important; -webkit-box-shadow: none!important; box-shadow: none!important; }


.btn, .ico, .m-phone .eye, .m-phone .loading, .m-phone .tongue { display:inline-block;  background-image:url(images/sprite.png);background-size:800px 600px; }
.btn { width:205px; height:70px; overflow:hidden;  }
.btn-ios { background-position:0 0; }
.btn-andr { background-position:0 -90px; margin-top:10px; }
.ico_qrcode { background-position:11px -165px; width:50px; height:50px; border-radius:25px; border:1px solid #e5e5e5;
    -webkit-transition:all .2s ease-out;
    transition:all .2s ease-out;
    cursor:pointer; 
}
.ico_qrcode:hover {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.m-phone { position:absolute; width:320px; top:50%; right:50%; margin-top:-324px;  }
.m-phone img { display:block; margin:0 auto; }
.m-phone .timer { position:absolute; width:60px; height:25px; top:105px; left:50%; margin-left:-30px; font-size:12px; color:#fff; vertical-align: top; }
.m-phone #timer { font-size:23px; }
.m-phone .tip { position:absolute; width:50px; top:87px; left:50%; margin-left:-23px;}
.m-phone .eye, .m-phone .loading, .m-phone .tongue { position:absolute; background-size:400px 300px; background-size:800px 600px\9\0; }
.m-phone .eye-left { width:10px; height:10px; top:127px; left:44px; background-position:0 -111px; background-position:0 -244px\9; -webkit-animation:'lefteye' .6s ease-out infinite; }
.m-phone .eye-right { width:8px; height:6px; top:131px; left:82px; background-position:-16px -110px; background-position:-34px -244px\9; -webkit-animation:'righteye' .6s ease-out infinite; }
.m-phone .loading { width:140px; height:140px; top:282px; left:91px; background-position:-135px 0; background-position:-270px -323px\9; -webkit-animation:'loading' 1s linear infinite; }
.m-phone .tongue { position:absolute; width:217px; height:30px; top:140px; left:64px; background-position:0 -267px; background-position:0 -465px\9;  }
@-webkit-keyframes lefteye {
    0% { }
    50% { top:120px; }
    100% { top:127px; }
}
@-webkit-keyframes righteye {
    0% {}
    50% { top:127px; }
    100% { top:131px; }
}
@-webkit-keyframes loading {
    0% {}
    100% { -webkit-transform:rotate(360deg);}
}

.m-logo, .m-download { text-align:center; }
.m-logo { margin-top:30px; }

.main { position:absolute; width:320px; top:50%; left:50%; margin-top:-324px; }
.m-download { margin-top:50px; }

.m-qrcode { position:relative; width:50px; height:50px; margin:75px auto; }
.m-qrcode .qrcode { position:absolute; top:0;margin-left:-50px; margin-top:-50px; display:none; box-shadow:0 1px 10px rgba(0,0,0,.25); }
.m-mbtn { display:none; z-index:999; }
.m-qrcode .qrcode.show { display:block; }

.copyright { position:absolute; top:50%; margin-top:350px; width:100%; height:20px; color:#b3b3b3; font-size:10px;text-align:center; }


@media (max-width : 568px){ 
    .main { top:0; left:0; right:0; margin:-10px auto; }
    .m-phone { top:210px; left:50%; right:0; margin:-18px 0 0 -160px; }
    .m-download, .m-qrcode { display:none; }
    .m-mbtn { position:fixed; z-index:2; display:block; width:100%; height:70px;  bottom:0; left:0; 
        background-color:rgba(255,255,255,.9);
        background-size:190px 40px; 
        background-image:url(images/download.png); 
        background-repeat:no-repeat;
        background-position:center; }
    .copyright { top:850px; margin-top:0; bottom:0;  padding-bottom:70px;  }
}

/* download dialog */
.u-btn { float:left; padding:12px 23px; border-radius:23px; color:#fff; text-align:center; border:none; font-size:16px; }
.u-btn-disabled { background:#d9d7ef!important; color:#ebf4fb!important; }

.m-download-dialog .download, .m-download-dialog .call { background-color:#4ca2d9; margin-right:15px; }
.m-download-dialog .cancel { background-color:#e6e7e8; color:#000; }
.m-download-dialog { opacity:0; height:0; padding:0; position:fixed; z-index:999; padding:0px; width:200px; top:140px; left:50%; margin-left:-125px; border-radius:10px; background-color:#fff; overflow:hidden;
    -webkit-transition:transform .3s;
    -webkit-transform:scale(1.1);
    transition:transform .1s;
    transform:scale(1.1);
}
.m-download-dialog.show { height:auto; padding:25px; opacity:1!important;
    -webkit-transform:scale(1) translateZ(1000px);
    -webkit-transform-style: preserve-3d;
    transform:scale(1) translateZ(1000px);
    transform-style:preserve-3d;
}
.m-download-dialog p { font-size:16px; text-align:center; line-height:21px; letter-spacing: 1px; }
.m-download-dialog .confirm-wrapper { display:none; margin-top:15px; padding-left:16px; }
.m-download-dialog .ignore-wrapper { display:none; margin-top:15px; padding-left:5px; }
.m-download-dialog .txt-ignore { display:none; }

.mask { 
    display:none; position:fixed; width:100%; height:100%; top:0; left:0; z-index:500; background-color:#000; opacity:0; 
    /*-webkit-transform: translateZ(-1000px);
    -webkit-transform-style: preserve-3d;*/
}
.webviewTip {
    display:none; position:fixed; z-index:999; right:25px; top:10px;
    width:286px; height:168px;
    background-image:url(images/webview.png);
    background-size:286px 168px;
}

@media (device-width:414px) and (-webkit-min-device-pixel-ratio:3.0) {/* 兼容iphone6 plus */
    .webviewTip {
        width:382px; height:224px;
        background-image:url(images/webview.png);
        background-size:382px 224px;
    }
}


#canvas { position:absolute; top:104px; left:64px; }